
.blog {
  .edit_area {
    width: 60%;
    .text_area {
      padding: 20px;
      margin-bottom: 20px;
    }
    .opreate_area {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      .option {
        display: flex;
        align-items: center;
        .option_unit {
          position: relative;
          display: inline-block;
          min-width: 50px;
          color: #007fff;
          font-size: 14px;
          margin-right: 10px;
          cursor: pointer;
          .icon {
            display: inline-block;
            padding-right: 5px;
          }
          .upload {
            position: absolute;
            width: 50px;
            height: 20px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            opacity: 0;
            cursor: pointer;
          }
        }
      }
      .submit_btn {

      }
    }
    .picPreview {
      width: 500px;
      margin: 20px 0;
      img {
        width: 100%;
      }
    }
  }
}

.blog_item {
  color: #333;
  font-size: 14px;
  width: 500px;
  .blog_content {
    margin: 10px 0  ;
  }
  .pic {
    width: 300px;
    margin: 20px 0;
    img {
      width: 100%;
    }
  }
  .labels {
    span {
      display: inline-block;
      padding:1px 10px;
      font-size: 12px;
      border-radius: 10px;
      background: #828d95;
      margin-right: 10px;
      color: #fff;
    }
  }
}
.title {
  margin: 10px 0;
}
.pic_show {
  width: 100%;
  .pic_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-around;
    .pic_item {
      position: relative;
      width: 30%;
      margin-right: 20px;
      margin-bottom: 20px;
      overflow: hidden;
      max-height: 200px;
      .delete_pic {
        position: absolute;
        right: 0;
        top: 0;
      }
      img {
        width: 100%;
      }
    }
  }
}
